<html>

<body>
    <title>Админ | Изменение свойств предметов</title>
    <br>
    <table border=0 cellspacing=0 cellpadding=0 width=800 height=15>
        <tr>
            <td width=250 height=25>
                <center>
                    <font name="hs12" color="c88f05">Выберите итем</font>
                </center>
            </td>
            <td width=450>
                <center>
                    <font name="hs12" color="c88f05">Возможные варианты изменений </font>
                </center>
            </td>
            <td width=100>
                <a action="bypass -h diablo_statsRnd_showMain">Вернуться</a>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0 width=720 height=370>
        <tr>
            <td width=5>
            </td>
            <td width=250>
                <table border=0 cellspacing=0 cellpadding=0 height=370>
                    <tr>
                        <td width=250 height=115>
                            <table border=0 cellspacing=0 cellpadding=0 width=250 height=115 bgcolor=14140f>
                                <tr>
                                    <td height=5>
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td height=15>
                                        <font color=ae9977>
                                            <center> </center>
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width=250 height=105>
                                            <tr>
                                                <td width=10>
                                                </td>
                                                <td>
                                                    <table border=0 cellspacing=0 cellpadding=0 width=240 height=105>
                                                        {{#each items}}
                                                        <tr>
                                                            {{#each this}}
                                                            <td width=40><button value="" action="bypass diablo_statsRnd_setAdminItem_{{this.objId}}" width=32 height=32 back="{{this.icon}}" fore="{{this.icon}}"></td>
                                                            {{/each}}
                                                        </tr>
                                                        {{/each}}
                                                        <tr>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                        </tr>
                                                    
												    </table>
											    </td>
                                                <td>
												<table width=20 height=120>
													<tr>
														<td>
															<button value="" action="bypass diablo_statsRnd_showAdmin_up" width=15 height=15 back="L2UI_CH3.shortcut_nextv_down" fore="L2UI_CH3.shortcut_nextv">
														</td>
													</tr>
													<tr>
														<td height=20>
														</td>
													</tr>
													<tr>
														<td>
															<button value="" action="bypass diablo_statsRnd_showAdmin_down" width=15 height=15 back="L2UI_CH3.shortcut_prevv_down" fore="L2UI_CH3.shortcut_prevv">
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
			</td>
		</tr>
		<tr>
		   <td height=20>
			</td>
				</tr>
				<tr>
					<td>
						<table border=0 cellspacing=0 cellpadding=0 width=280 height=200 bgcolor=14140f>
							<tr>
								<td height=10>
									<br>
								</td>
							</tr>
							<tr>
								<td height=20>
									<font color=ae9977>Выбранный предмет для просмотра</font>
								</td>
							</tr>
							<tr>
								<td height=60>
									<center>
									<table width=250 height=55 bgcolor=0d0d0a>
										<tr>
											<td width=250 height=45>
												<center>
												<table width=230 height=45>
													<tr>
														<td width=50 height=45>
															<center>
                                                                <img src={{selectedItem.icon}} width=32 height=32>
															</center>
														</td>
                                                        <td align=left width=228 height=25>{{selectedItem.name}}</td>
													</tr>
												</table>
												</center>
											</td>
										</tr>
									</table>
									</center>
								</td>
							</tr>
                            <tr>
								<td height=20>
									<br>
								</td>
							</tr>
                            <tr>
								<td height=20>
									<font color=ae9977>Выберите скилл для изменения</font>
								</td>
							</tr>
                            {{#each selectedItem.skills}}
                            <tr>
								<td>
									<table width=280>
                                        <tr>
                                            <td width=260>
                                                <table width=260>
                                                <tr>
                                                    <td width=32><button value="" action="bypass diablo_statsRnd_setAdminSkill_{{this.id}}" width=32 height=32 back="{{this.icon}}" fore="{{this.icon}}"></td><td align=left width=228 height=25>{{this.name}}, lvl {{this.lvl}}</td>
                                                </tr>
                                                </table>
                                            </td>
                                        </tr>
									</table>
								</td>
							</tr>
                            {{/each}}
                            <tr>
								<td height=20>
									<br>
								</td>
							</tr>
                            <tr>
								<td height=20>
									<font color=ae9977>Выбранный скилл для изменения</font>
								</td>
							</tr>
							<tr>
								<td height=60>
									<center>
									<table width=250 height=55 bgcolor=0d0d0a>
										<tr>
											<td width=250 height=45>
												<center>
												<table width=230 height=45>
													<tr>
														<td width=50 height=45>
															<center>
                                                                <button value="" action="bypass diablo_statsRnd_setAdminSkill_0" width=32 height=32 back="{{selectedSkill.icon}}" fore="{{selectedSkill.icon}}"></td><td align=left width=228 height=25>{{selectedSkill.name}}{{lvl selectedSkill.lvl}}
															</center>
														</td>
													</tr>
												</table>
												</center>
											</td>
										</tr>
									</table>
									</center>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td width=9>
		</td>
		<td width=470>
			<table border=0 cellspacing=0 cellpadding=0 width=530 height=6>
				<tr>
					<td height=10>
						<br>
					</td>
				</tr>
				<tr>
					<td>
						
					</td>
				</tr>
				<tr>
					<td>
						<table border=0 cellspacing=0 cellpadding=0 width=470 bgcolor=14140f>
							<tr>
								<td width=470>
									<table border=0 cellspacing=0 cellpadding=0 width=470 bgcolor=23221d>
										<tr>
											<td width=370>
                                                <center>Название скила</center>
											</td>
											<td width=100>
												Макс уровень
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width=470>
									<font color=ae9977>
                                        <table border=0 cellspacing=0 cellpadding=0 width=470>
                                        <tr>
                                            <td width=370 height=20>
                                            </td>
                                        </tr>
                                        </table>
                                        {{#each availSkills}}
                                        <table bgcolor=14140f border=0 cellspacing=0 cellpadding=0 width=470>
                                        <tr>
                                            <td width=370>
                                                <table width=370>
                                                <tr>
													<td width=32><button value="" action="bypass diablo_statsRnd_setAdminNewSkill_{{this.id}}" width=32 height=32 back="{{this.icon}}" fore="{{this.icon}}"></td><td align=left width=308 height=25>{{this.name}}</td>
                                                </tr>
                                                </table>
                                            </td>
                                            <td width=100>{{this.lvl}}</td>
                                        </tr>
                                        </table>    
                                        {{/each}}
                                    </font>
								</td>
							</tr>
							<tr>
								<td height=20>

								</td>
							</tr>
							
						</table>
					</td>
				</tr>
                <tr>
                    <td height=10>

                    </td>
                </tr>
				<tr>
                    <td> 
                        <center>
							<br><br>
                            {{error}}
                        </center>
                    </td>
                </tr>
			</table>
		</td>
	</tr>
    
</table>
<center>

<table>
	{{#if newSkill}}
	<tr>
		<td height=20>
			<font color=ae9977>Новый скилл</font>
		</td>
		<td>
			Уровень скила
		</td>
	</tr>
	<tr>
		<td height=60>
			<table height=55 bgcolor=0d0d0a>
				<tr>
					<td height=45>
						<table height=45>
							<tr>
								<td width=50 height=45>
									<img src={{newSkill.icon}} width=32 height=32>
								</td>
								<td align=left width=120 height=25>{{newSkill.name}}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<td width=30>{{newSkill.lvl}}</td>
					<td><edit var="newSkillLvl"></td>
					<td>
						<button value="Изменить" action="bypass diablo_statsRnd_setAdminNewSkillLvl_1 $newSkillLvl" width=60 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF">
					</td>
				</tr>
			</table>
		</td>
	</tr>
	{{/if}}
	<tr>
		{{#if showSet }}
		<td> 
			<center>
				<button value="Изменить выбранный скилл" action="bypass diablo_statsRnd_showAdminSetSkillAndLvl_{{newSkill.id}} {{newSkill.lvl}} {{selectedItem.objId}} {{selectedSkill.id}} {{selectedSkill.lvl}}" width=200 height=28 back="L2UI_CT1.OlympiadWnd_DF_BuyEtc_Down" fore="L2UI_CT1.OlympiadWnd_DF_BuyEtc">
			</center>
		</td>
		{{/if }}
		<td></td>
		{{#if showAdd}}
		<td> 
			<center>
				<button value="Добавить скилл" action="bypass diablo_statsRnd_showAdminAddSkillAndLvl_{{newSkill.id}} {{newSkill.lvl}} {{selectedItem.objId}}" width=200 height=28 back="L2UI_CT1.OlympiadWnd_DF_BuyEtc_Down" fore="L2UI_CT1.OlympiadWnd_DF_BuyEtc">
			</center>
		</td>
		{{/if}}
		{{#if showRemove}}
		<td> 
			<center>
				<button value="Удалить выбранный скилл" action="bypass diablo_statsRnd_showAdminRemoveSkill_{{selectedItem.objId}} {{selectedSkill.id}} {{selectedSkill.lvl}}" width=200 height=28 back="L2UI_CT1.OlympiadWnd_DF_BuyEtc_Down" fore="L2UI_CT1.OlympiadWnd_DF_BuyEtc">
			</center>
		</td>
		{{/if}}
	</tr>
	
</table>
	
</center>
</body>
</html>