<table width=750>
	<tr>
		<td width=130>
			<button value="Auction List" action="bypass _bbsAuction_ 1 _ -1 _ All _  _ 1 _ 0 _ 0 _ 0" width=200 height=28 back="L2UI_CT1.OlympiadWnd_DF_BuyEtc_Down" fore="L2UI_CT1.OlympiadWnd_DF_BuyEtc">
		</td>
		<td width=620>
			<button value="Your Auctions" action="bypass _bbsNewAuction_ c0 _ 0" width=200 height=28 back="L2UI_CT1.OlympiadWnd_DF_Watch_Down" fore="L2UI_CT1.OlympiadWnd_DF_Watch">
		</td>
	</tr>
</table>
<br>