<html>

<body>
    <title>Меняем свойства предмета</title>
    <table width=800>
		<tr>
			<td width=200>
                <button value="Предметы" action="bypass -h diablo_statsRnd_itemsList" width=200 height=28 back="L2UI_CT1.OlympiadWnd_DF_Watch_Down" fore="L2UI_CT1.OlympiadWnd_DF_Watch">
			</td>
			<td width=620>
				<button value="Рандом скилов" action="bypass -h diablo_statsRnd_showMain" width=200 height=28 back="L2UI_CT1.OlympiadWnd_DF_BuyEtc_Down" fore="L2UI_CT1.OlympiadWnd_DF_BuyEtc">
			</td>
		</tr>
	</table>
	<br>
    <table border=0 cellspacing=0 cellpadding=0 width=800 height=15>
        <tr>
            <td width=250 height=25>
                <center>
                    <font name="hs12" color="c88f05">Выберите итем</font>
                </center>
            </td>
            <td width=470>
                <center>
					<font name="hs12" color="c88f05">Управление апгрейдом</font> 
                </center>
            </td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0 width=720 height=370>
        <tr>
            <td width=5>
            </td>
            <td width=250>
                <table border=0 cellspacing=0 cellpadding=0 height=370>
                    <tr>
                        <td width=250 height=115>
                            <table border=0 cellspacing=0 cellpadding=0 width=250 height=115 bgcolor=14140f>
                                <tr>
                                    <td height=5>
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td height=15>
                                        <font color=ae9977>
                                            <center> </center>
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width=250 height=105>
                                            <tr>
                                                <td width=10>
                                                </td>
                                                <td>
                                                    <table border=0 cellspacing=0 cellpadding=0 width=240 height=105>
                                                        {{#each items}}
                                                        <tr>
                                                            {{#each this}}
                                                                <td width=40><button value="" action="bypass diablo_statsRnd_setEnchantItem_0 0 {{this.objId}}" width=32 height=32 back="{{this.icon}}" fore="{{this.icon}}"></td>
                                                            {{/each}}
                                                        </tr>
                                                        {{/each}}
                                                        <tr>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                        </tr>
                                                    
												    </table>
											    </td>
                                                <td>
												<table width=20 height=120>
													<tr>
														<td>
															<button value="" action="bypass diablo_statsRnd_showEnchant_0 0 up" width=15 height=15 back="L2UI_CH3.shortcut_nextv_down" fore="L2UI_CH3.shortcut_nextv">
														</td>
													</tr>
													<tr>
														<td height=20>
														</td>
													</tr>
													<tr>
														<td>
															<button value="" action="bypass diablo_statsRnd_showEnchant_0 0 down" width=15 height=15 back="L2UI_CH3.shortcut_prevv_down" fore="L2UI_CH3.shortcut_prevv">
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
			</td>
		</tr>
		<tr>
		   <td height=20>
			</td>
				</tr>
				<tr>
					<td>
						<table border=0 cellspacing=0 cellpadding=0 width=280 height=200 bgcolor=14140f>
							<tr>
								<td height=10>
									<br>
								</td>
							</tr>
							<tr>
								<td height=20>
									<font color=ae9977>Выбранный предмет для изменения</font>
								</td>
							</tr>
							<tr>
								<td height=60>
									<center>
									<table width=250 height=55 bgcolor=0d0d0a>
										<tr>
											<td width=250 height=45>
												<center>
												<table width=230 height=45>
													<tr>
														<td width=50 height=45>
															<center>
                                                                <img src={{selectedItem.icon}} width=32 height=32>
															</center>
														</td>
                                                        <td align=left width=228 height=25>{{selectedItem.name}}</td>
													</tr>
												</table>
												</center>
											</td>
										</tr>
									</table>
									</center>
								</td>
							</tr>
                            <tr>
								<td height=20>
									<br>
								</td>
							</tr>
							<tr>
								<td height=20>
									<br>
								</td>
							</tr>
                            <tr>
								<td height=20>
									<font color=ae9977>Выберите скилл для изменения</font>
								</td>
							</tr>
                            {{#each selectedItem.skills}}
                            <tr>
								<td>
									<table width=280>
                                        <tr>
                                            <td width=260>
                                                <table width=260>
                                                <tr>
                                                    <td width=32><button value="" action="bypass diablo_statsRnd_setEnchantSkill_{{../currencyId}} 0 {{this.id}}" width=32 height=32 back="{{this.icon}}" fore="{{this.icon}}"></td><td align=left width=228 height=25>{{this.name}}, lvl {{this.lvl}}</td>
                                                </tr>
                                                </table>
                                            </td>
                                        </tr>
									</table>
								</td>
							</tr>
                            {{/each}}
                            <tr>
								<td height=20>
									<br>
								</td>
							</tr>
                            
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td width=9>
		</td>
		<td width=470>
			<table border=0 cellspacing=0 cellpadding=0 width=530 height=6>
				<tr>
					<td height=10>
						<br>
					</td>
				</tr>
				<tr>
					<td>
						
					</td>
				</tr>
				<tr>
					<td>
						<table border=0 cellspacing=0 cellpadding=0 width=470 bgcolor=14140f>
							<tr>
								<td width=470 height=10>
									
								</td>
							</tr>
							<tr>
								<td height=80 align=center>
									<table>
										<tr>
											<td height=20 align=center>
												<font color=ae9977>Выбранный скилл для изменения</font>
											</td>
										</tr>
										<tr>
											<td height=60>
												<center>
												<table width=300 height=55 bgcolor=0d0d0a>
													<tr>
														<td width=300 height=45>
															<center>
															<table width=300 height=45>
																<tr>
																	<td width=50 height=45>
																		<center>
																			<img src={{selectedSkill.icon}} width=32 height=32>
																		</center>
																	</td>
																	<td align=left height=45 width=250 height=25>{{selectedSkill.name}} {{lvl selectedSkill.lvl}}</td>
																</tr>
															</table>
															</center>
														</td>
													</tr>
												</table>
												</center>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td height=20></td>
							</tr>
							{{#if this.selectedSkill}}
							<tr>
								<td height=20 align=center>
									<font color=ae9977>Добавьте ФА, чтобы изменить шансы</font>
								</td>
							</tr>
							<tr>
								<td height=10></td>
							</tr>
							<tr>
								<td height=30 align=center>
									<table>
										
										<tr>
											<td width=30 >
												<button value="" action="bypass diablo_statsRnd_enchantModifyPrice_{{currencyId}} 0 1" width=32 height=32 back="L2UI_ct1.MiniMap_DF_PlusBtn_Red_Down" fore="L2UI_ct1.MiniMap_DF_PlusBtn_Red">
											</td>
											<td width=30>
												{{ currentPrice }}
											</td>
											<td width=30>
												<button value="" action="bypass diablo_statsRnd_enchantModifyPrice_{{currencyId}} 0 -1" width=32 height=32 back="L2UI_ct1.MiniMap_DF_MinusBtn_Red_Down" fore="L2UI_ct1.MiniMap_DF_MinusBtn_Red">
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td height=20></td>
							</tr>
							<tr>
								<td height=20 align=center>
									<font color=ae9977>Или введите значение</font>
								</td>
							</tr>
							<tr>
								<td align=center>
									<table>
										<tr>
											<td><edit var="currencyAmount"></td>
											<td><button value="Изменить" action="bypass diablo_statsRnd_enchantSetPrice_{{currencyId}} 0 $currencyAmount" width=60 height=15 back="L2UI_CT1.Button_DF_Down" fore="L2UI_CT1.Button_DF"></td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td height=30></td>
							</tr>
							<tr>
								<td height=20 align=center>
									<font color=ae9977>Максимальное количество (которое лежит в инвентаре)</font>
								</td>
							</tr>
							<tr>
								<td align=center>
									<table>
										<tr>
											<td width=32><img src="Icon.etc_coin_of_fair_i00" width="32" height="32"></td>
											<td width=50>{{num money }}</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td height=30></td>
							</tr>
							<tr>
								<td height=20 align=center>
									<font color=ae9977>Шансы</font>
								</td>
							</tr>
							<tr>
								<td align=center>
									<table>
										<tr>
											<td width=200 align=right><font color=008000>Успех</font></td>
											<td width=30></td>
											<td width=200 align=left><font color=ff0000 >Провал (сломает предмет!)</font></td>
										</tr>
										<tr>
											<td width=100 align=right>
												<font color=008000>
													{{#if showSuccess}}
													->>
													{{/if}}
													{{ successChance }}
													
												</font>
											</td>
											<td width=30></td>
											<td width=100 align=left>
												<font color=ff0000 >
													{{ failChance }}
													{{#if showFail}}
													<<-
													{{/if}}
												</font>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td height=20></td>
							</tr>
							<tr>
								<td> 
									<center>
										<button value="Попытаться апнуть скилл!!1" action="bypass diablo_statsRnd_upgradeSkill_{{currencyId}} {{ currentPrice }} {{selectedSkill.id}} {{selectedSkill.lvl}} {{uplvl}} {{selectedItem.objId}} {{del}}" width=220 height=28 back="L2UI_CT1.OlympiadWnd_DF_BuyEtc_Down" fore="L2UI_CT1.OlympiadWnd_DF_BuyEtc">
									</center>
								</td>
							</tr>
							<tr>
								<td> 
									<center>
										<button value="Проверить результат за полцены" action="bypass diablo_statsRnd_upgradeSkill_{{currencyId}} {{ halfPrice }} {{selectedSkill.id}} {{selectedSkill.lvl}} {{selectedSkill.lvl}} {{selectedItem.objId}} {{checkUpgradeDel}}" width=220 height=28 back="L2UI_CT1.OlympiadWnd_DF_BuyEtc_Down" fore="L2UI_CT1.OlympiadWnd_DF_BuyEtc">
									</center>
								</td>
							</tr>
							<tr>
								<td height=10></td>
							</tr>
							{{/if}}
						</table>
					</td>
				</tr>
                <tr>
                    <td height=10>

                    </td>
                </tr>
				<tr>
                    <td> 
                        <center>
							<br><br>
                            {{error}}
                        </center>
                    </td>
                </tr>
			</table>
		</td>
	</tr>
    
</table>

</body>
</html>