<html>

<body>
    <title>Помощь по свойствам предметов</title>
    <br>
    <table border=0 cellspacing=0 cellpadding=0 width=800 height=15>
        <tr>
            <td width=250 height=25>
                <center>
                    <font name="hs12" color="c88f05">Выберите итем</font>
                </center>
            </td>
            <td width=450>
                <center>
					<font name="hs12" color="c88f05">Возможные варианты изменений </font> 
                </center>
            </td>
			<td width=100>
				<a action="bypass -h diablo_statsRnd_showMain">Вернуться</a>
			</td>
        </tr>
    </table>
    <table border=0 cellspacing=0 cellpadding=0 width=720 height=370>
        <tr>
            <td width=5>
            </td>
            <td width=250>
                <table border=0 cellspacing=0 cellpadding=0 height=370>
                    <tr>
                        <td width=250 height=115>
                            <table border=0 cellspacing=0 cellpadding=0 width=250 height=115 bgcolor=14140f>
                                <tr>
                                    <td height=5>
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td height=15>
                                        <font color=ae9977>
                                            <center> </center>
                                        </font>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width=250 height=105>
                                            <tr>
                                                <td width=10>
                                                </td>
                                                <td>
                                                    <table border=0 cellspacing=0 cellpadding=0 width=240 height=105>
                                                        {{#each items}}
                                                        <tr>
                                                            {{#each this}}
                                                                <td width=40><button value="" action="bypass diablo_statsRnd_setHelpItem_0 0 {{this.objId}}" width=32 height=32 back="{{this.icon}}" fore="{{this.icon}}"></td>
                                                            {{/each}}
                                                        </tr>
                                                        {{/each}}
                                                        <tr>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                        </tr>
                                                    
												    </table>
											    </td>
                                                <td>
												<table width=20 height=120>
													<tr>
														<td>
															<button value="" action="bypass diablo_statsRnd_showHelp_0 0 up" width=15 height=15 back="L2UI_CH3.shortcut_nextv_down" fore="L2UI_CH3.shortcut_nextv">
														</td>
													</tr>
													<tr>
														<td height=20>
														</td>
													</tr>
													<tr>
														<td>
															<button value="" action="bypass diablo_statsRnd_showHelp_0 0 down" width=15 height=15 back="L2UI_CH3.shortcut_prevv_down" fore="L2UI_CH3.shortcut_prevv">
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
			</td>
		</tr>
		<tr>
		   <td height=20>
			</td>
				</tr>
				<tr>
					<td>
						<table border=0 cellspacing=0 cellpadding=0 width=280 height=200 bgcolor=14140f>
							<tr>
								<td height=10>
									<br>
								</td>
							</tr>
							<tr>
								<td height=20>
									<font color=ae9977>Выбранный предмет для просмотра</font>
								</td>
							</tr>
							<tr>
								<td height=60>
									<center>
									<table width=250 height=55 bgcolor=0d0d0a>
										<tr>
											<td width=250 height=45>
												<center>
												<table width=230 height=45>
													<tr>
														<td width=50 height=45>
															<center>
                                                                <img src={{selectedItem.icon}} width=32 height=32>
															</center>
														</td>
                                                        <td align=left width=228 height=25>{{selectedItem.name}}</td>
													</tr>
												</table>
												</center>
											</td>
										</tr>
									</table>
									</center>
								</td>
							</tr>
                            <tr>
								<td height=20>
									<br>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td width=9>
		</td>
		<td width=470>
			<table border=0 cellspacing=0 cellpadding=0 width=530 height=6>
				<tr>
					<td height=10>
						<br>
					</td>
				</tr>
				<tr>
					<td>
						
					</td>
				</tr>
				<tr>
					<td>
						<table border=0 cellspacing=0 cellpadding=0 width=470 bgcolor=14140f>
							<tr>
								<td width=470>
									<table border=0 cellspacing=0 cellpadding=0 width=470 bgcolor=23221d>
										<tr>
											<td width=370>
                                                <center>Название скила</center>
											</td>
											<td width=100>
												Макс уровень
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td width=470>
									<font color=ae9977>
                                        <table border=0 cellspacing=0 cellpadding=0 width=470>
                                        <tr>
                                            <td width=370 height=20>
                                            </td>
                                        </tr>
                                        </table>
                                        {{#each availSkills}}
                                        <table bgcolor=14140f border=0 cellspacing=0 cellpadding=0 width=470>
                                        <tr>
                                            <td width=370>
                                                <table width=370>
                                                <tr>
                                                    <td width=32><img width=32 height=32 src="{{this.icon}}"></td><td align=left width=338 height=25>{{this.name}}</td>
                                                </tr>
                                                </table>
                                            </td>
                                            <td width=100 align=right>{{this.lvl}}</td>
                                        </tr>
                                        </table>    
                                        {{/each}}
                                    </font>
								</td>
							</tr>
						</table>
					</td>
				</tr>
                <tr>
                    <td height=50>

                    </td>
                </tr>
				<tr>
                    <td> 
                        <center>
							<br><br>
                            {{error}}
                        </center>
                    </td>
                </tr>
			</table>
		</td>
	</tr>
    
</table>

</body>
</html>