<html>

<body>
	<title>Управление предметами</title>
	<table width=800>
        <tr>
			<td width=200>
                <button value="Рандом скилов" action="bypass -h diablo_statsRnd_showMain_57 0" width=200 height=28 back="L2UI_CT1.OlympiadWnd_DF_Watch_Down" fore="L2UI_CT1.OlympiadWnd_DF_Watch">
			</td>
            <td width=620>
                <button value="Апгрейд скилов" action="bypass -h diablo_statsRnd_showEnchant_6673 0" width=200 height=28 back="L2UI_CT1.OlympiadWnd_DF_Watch_Down" fore="L2UI_CT1.OlympiadWnd_DF_Watch">
			</td>
		</tr>
	</table>
    <br>
	<br>
	<table border=0 cellspacing=0 cellpadding=0 width=800 height=15>
		<tr>
			<td width=800 height=25>
				<center>
					<font name="hs12" color="c88f05">Выберите предмет для просмотра и управления</font>
				</center>
			</td>
		</tr>
	</table>
	<table border=0 cellspacing=0 cellpadding=0 width=800>
		<tr>
			<td width=800>
				<table border=0 cellspacing=0 cellpadding=0>
					<tr>
						<td width=800 height=115>
							<table border=0 cellspacing=0 cellpadding=0 width=800 height=115 bgcolor=14140f>
								<tr>
									<td height=5>
										<br>
									</td>
								</tr>
								<tr>
									<td height=15>
										<font color=ae9977>
											<center> </center>
										</font>
									</td>
								</tr>
								<tr>
									<td>
										<table width=700 height=105>
											<tr>
												<td width=10>
												</td>
												<td>
													<table border=0 cellspacing=0 cellpadding=0 width=700 height=105>
														{{#each items}}
														<tr>
															{{#each this}}
															<td width=40><button value="" action="bypass diablo_statsRnd_itemsListSetItem_{{this.objId}}" width=32 height=32 back="{{this.icon}}"
																 fore="{{this.icon}}"></td>
                                                            {{/each}}
                                                        </tr>
                                                        {{/each}}
                                                        <tr>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                            <td width=40><br></td>
                                                        </tr>
                                                    
												    </table>
											    </td>
                                                <td>
												<table width=20 height=120>
													<tr>
														<td>
															<button value="" action="bypass diablo_statsRnd_itemsList_up" width=15 height=15 back="L2UI_CH3.shortcut_nextv_down" fore="L2UI_CH3.shortcut_nextv">
														</td>
													</tr>
													<tr>
														<td height=20>
														</td>
													</tr>
													<tr>
														<td>
															<button value="" action="bypass diablo_statsRnd_itemsList_down" width=15 height=15 back="L2UI_CH3.shortcut_prevv_down" fore="L2UI_CH3.shortcut_prevv">
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
			</td>
		</tr>
		</table>
		<table>
		<tr>
		   <td height=20>
			</td>
				</tr>
				<tr>
					<td>
						<table border=0 cellspacing=0 cellpadding=0 width=280 height=200 bgcolor=14140f>
							<tr>
								<td height=10>
									<br>
								</td>
							</tr>
							<tr>
								<td height=20>
									<font color=ae9977>Выбранный предмет</font>
								</td>
							</tr>
							<tr>
								<td height=60>
									<center>
									<table width=250 height=55 bgcolor=0d0d0a>
										<tr>
											<td width=250 height=45>
												<center>
												<table width=230 height=45>
													<tr>
														<td width=50 height=45>
															<center>
                                                                <img src={{selectedItem.icon}} width=32 height=32>
															</center>
														</td>
                                                        <td align=left width=228 height=25>{{selectedItem.name}}</td>
													</tr>
												</table>
												</center>
											</td>
										</tr>
										<tr>
								<td height=20>
									<br>
								</td>
							</tr>
                            
									</table>
									</center>
								</td>
							</tr>
							<tr>
								<td height=20>
									<font color=ae9977>Скилы предмета</font>
								</td>
							</tr>
                            {{#each selectedItem.skills}}
                            <tr>
								<td>
									<table width=280>
                                        <tr>
                                            <td width=260>
                                                <table width=260>
                                                <tr>
                                                    <td width=32><img width=32 height=32 src="{{this.icon}}"></td><td align=left width=228 height=25>{{this.name}}, lvl {{this.lvl}}</td>
                                                </tr>
                                                </table>
                                            </td>
                                        </tr>
									</table>
								</td>
							</tr>
                            {{/each}}
                            <tr>
								<td height=20>
									<br>
								</td>
							</tr>
						</table>
					</td>
					<td width=470>
						<table border=0 cellspacing=0 cellpadding=0 width=530 height=6>
							<tr>
								<td height=50>

								</td>
							</tr>
							<tr>
								<td> 
									<center>
										<button value="Одеть / снять" action="bypass diablo_statsRnd_itemsListEqUneq_{{selectedItem.objId}}" width=200 height=28 back="L2UI_CT1.OlympiadWnd_DF_BuyEtc_Down" fore="L2UI_CT1.OlympiadWnd_DF_BuyEtc">
									</center>
								</td>
							</tr>
							<tr>
								<td> 
									<center>
										<button value="Выбросить" action="bypass diablo_statsRnd_itemsListDrop_{{selectedItem.objId}}" width=200 height=28 back="L2UI_CT1.OlympiadWnd_DF_BuyEtc_Down" fore="L2UI_CT1.OlympiadWnd_DF_BuyEtc">
									</center>
								</td>
							</tr>
							<tr>
								<td> 
									<center>
										<button value="Продать" action="bypass diablo_statsRnd_itemsListSell_{{selectedItem.objId}}" width=200 height=28 back="L2UI_CT1.OlympiadWnd_DF_BuyEtc_Down" fore="L2UI_CT1.OlympiadWnd_DF_BuyEtc">
									</center>
								</td>
							</tr>
							<tr>
								<td> 
									<center>
										<button value="Положить на склад" action="bypass diablo_statsRnd_itemsListWh_{{selectedItem.objId}}" width=200 height=28 back="L2UI_CT1.OlympiadWnd_DF_BuyEtc_Down" fore="L2UI_CT1.OlympiadWnd_DF_BuyEtc">
									</center>
								</td>
							</tr>
							<tr>
								<td> 
									<center>
										<br><br>
										{{error}}
									</center>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td width=9>
		</td>
	</tr>
</table>

</body>
</html>