<tr>
    <td width=40><button value="" action="bypass _bbsNewAuction_ n268532602 _ 0" width=32 height=32 back="icon.icon.etc_debris_i00" fore="icon.icon.etc_debris_i00"></td>
    <td width=40><button value="" action="bypass _bbsNewAuction_ n268532601 _ 0" width=32 height=32 back="icon.icon.etc_dragon_egg_i02" fore="icon.icon.etc_dragon_egg_i02"></td>
    <td width=40><button value="" action="bypass _bbsNewAuction_ n268532600 _ 0" width=32 height=32 back="icon.icon.etc_crystal_white_i00" fore="icon.icon.etc_crystal_white_i00"></td>
    <td width=40><button value="" action="bypass _bbsNewAuction_ n268534472 _ 0" width=32 height=32 back="icon.icon.etc_spirit_bullet_gold_i00" fore="icon.icon.etc_spirit_bullet_gold_i00"></td>
    <td width=40><button value="" action="bypass _bbsNewAuction_ n268534473 _ 0" width=32 height=32 back="icon.icon.etc_spell_shot_gold_i01" fore="icon.icon.etc_spell_shot_gold_i01"></td>
    <td width=40><button value="" action="bypass _bbsNewAuction_ n268527952 _ 0" width=32 height=32 back="icon.icon.etc_stone_gray_i00" fore="icon.icon.etc_stone_gray_i00"></td>
</tr>
<tr>
    <td width=40><button value="" action="bypass _bbsNewAuction_ n268481185 _ 0" width=32 height=32 back="icon.icon.weapon_monster_i00" fore="icon.icon.weapon_monster_i00"></td>
    <td width=40><button value="" action="bypass _bbsNewAuction_ n268485073 _ 0" width=32 height=32 back="icon.icon.armor_t51_u_i00" fore="icon.icon.armor_t51_u_i00"></td>
    <td width=40><button value="" action="bypass _bbsNewAuction_ n268481091 _ 0" width=32 height=32 back="icon.icon.weapon_dynasty_spear_i00" fore="icon.icon.weapon_dynasty_spear_i00"></td>
    <td width=40><button value="" action="bypass _bbsNewAuction_ n268939584 _ 0" width=32 height=32 back="icon.icon.armor_t2000_ul_i00" fore="icon.icon.armor_t2000_ul_i00"></td>
    <td width=40><button value="" action="bypass _bbsNewAuction_ n268481195 _ 0" width=32 height=32 back="icon.icon.armor_t42_b_i00" fore="icon.icon.armor_t42_b_i00"></td>
    <td width=40><button value="" action="bypass _bbsNewAuction_ n268481197 _ 0" width=32 height=32 back="icon.icon.armor_t42_u_i00" fore="icon.icon.armor_t42_u_i00"></td>
</tr>

{{#each items}}
<tr>
    {{#each this}}
        <td width=40><button value="" action="bypass diablo_statsRnd_setItem_{{this.objId}}" width=32 height=32 back="{{this.icon}}" fore="{{this.icon}}"></td>
    {{/each}}
</tr>
{{/each}}


<tr>
    <td>
        <table width=280>
            <tr>
                <td width=260>
                    <table width=260>
                    <tr>
                        <td width=32><button value="" action="bypass _bbsNewAuction_ c268481196 _ 0 _ 1" width=32 height=32 back="icon.icon.armor_t41_g_i00" fore="icon.icon.armor_t41_g_i00"></td><td align=left width=228 height=25>Gloves of Knowledge</td>
                    </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table width=280>
            <tr>
                <td width=260>
                    <table width=260>
                    <tr>
                        <td width=32><button value="" action="bypass _bbsNewAuction_ c268481196 _ 0 _ 1" width=32 height=32 back="icon.icon.armor_t41_g_i00" fore="icon.icon.armor_t41_g_i00"></td><td align=left width=228 height=25>Gloves of Knowledge</td>
                    </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table width=280>
            <tr>
                <td width=260>
                    <table width=260>
                    <tr>
                        <td width=32><button value="" action="bypass _bbsNewAuction_ c268481196 _ 0 _ 1" width=32 height=32 back="icon.icon.armor_t41_g_i00" fore="icon.icon.armor_t41_g_i00"></td><td align=left width=228 height=25>Gloves of Knowledge</td>
                    </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table width=280>
            <tr>
                <td width=260>
                    <table width=260>
                    <tr>
                        <td width=32><button value="" action="bypass _bbsNewAuction_ c268481196 _ 0 _ 1" width=32 height=32 back="icon.icon.armor_t41_g_i00" fore="icon.icon.armor_t41_g_i00"></td><td align=left width=228 height=25>Gloves of Knowledge</td>
                    </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table width=280>
            <tr>
                <td width=260>
                    <table width=260>
                    <tr>
                        <td width=32><button value="" action="bypass _bbsNewAuction_ c268481196 _ 0 _ 1" width=32 height=32 back="icon.icon.armor_t41_g_i00" fore="icon.icon.armor_t41_g_i00"></td><td align=left width=228 height=25>Gloves of Knowledge</td>
                    </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>


<table border=0 cellspacing=0 cellpadding=0 width=470>
<tr>
    <td width=370>
        <table width=370>
        <tr>
            <td width=32><button value="" action="bypass _bbsNewAuction_ c268481196 _ 0 _ 1" width=32 height=32 back="icon.icon.armor_t41_g_i00" fore="icon.icon.armor_t41_g_i00"></td><td align=left width=338 height=25>Gloves of Knowledge</td>
        </tr>
        </table>
    </td>
    <td width=100 align=right>1,111</td>
</tr>
</table>
<table border=0 cellspacing=0 cellpadding=0 width=470>
<tr>
    <td width=370>
        <table width=370>
        <tr>
            <td width=32><button value="" action="bypass _bbsNewAuction_ c268481196 _ 0 _ 1" width=32 height=32 back="icon.icon.armor_t41_g_i00" fore="icon.icon.armor_t41_g_i00"></td><td align=left width=338 height=25>Gloves of Knowledge</td>
        </tr>
        </table>
    </td>
    <td width=100 align=right>1,111</td>
</tr>
</table>
<table border=0 cellspacing=0 cellpadding=0 width=470>
<tr>
    <td width=370>
        <table width=370>
        <tr>
            <td width=32><button value="" action="bypass _bbsNewAuction_ c268481196 _ 0 _ 1" width=32 height=32 back="icon.icon.armor_t41_g_i00" fore="icon.icon.armor_t41_g_i00"></td><td align=left width=338 height=25>Gloves of Knowledge</td>
        </tr>
        </table>
    </td>
    <td width=100 align=right>1,111</td>
</tr>
</table>
<table border=0 cellspacing=0 cellpadding=0 width=470>
<tr>
    <td width=370>
        <table width=370>
        <tr>
            <td width=32><button value="" action="bypass _bbsNewAuction_ c268481196 _ 0 _ 1" width=32 height=32 back="icon.icon.armor_t41_g_i00" fore="icon.icon.armor_t41_g_i00"></td><td align=left width=338 height=25>Gloves of Knowledge</td>
        </tr>
        </table>
    </td>
    <td width=100 align=right>1,111</td>
</tr>
</table>
<table border=0 cellspacing=0 cellpadding=0 width=470>
<tr>
    <td width=370>
        <table width=370>
        <tr>
            <td width=32><button value="" action="bypass _bbsNewAuction_ c268481196 _ 0 _ 1" width=32 height=32 back="icon.icon.armor_t41_g_i00" fore="icon.icon.armor_t41_g_i00"></td><td align=left width=338 height=25>Gloves of Knowledge</td>
        </tr>
        </table>
    </td>
    <td width=100 align=right>1,111</td>
</tr>
</table>