<html>

<body>
    <title>Уровень не подходит</title>
    <br>
    <table border=0 cellspacing=0 cellpadding=0 width=800 height=500>
        <tr>
            <td width=250 height=25 val>
                <center>
                    <font name="hs12" color="c88f05">Увы, Ваш уровень не подходит! Приходите, когда будете {{cLvl}} уровня, а сейчас вы - {{lvl}}</font>
                </center>
            </td>
        </tr>

    </table>

</body>

</html>